CONFIG_INLINE_OPTIMIZATION=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
CONFIG_KALLSYMS_ALL=y
CONFIG_DEBUG_KERNEL=y
CONFIG_AUDIT=y
# CONFIG_SLUB_DEBUG is not set
# CONFIG_SLUB_CPU_PARTIAL is not set
# CONFIG_LD_BFD is not set
# CONFIG_LD_GOLD is not set
CONFIG_SDP=y
CONFIG_LD_LLD=y
CONFIG_ARM_EXYNOS_ACME=y
CONFIG_ARM_MODCLOCK=y
CONFIG_MAX_FREQ_BIG=2400000
CONFIG_MIN_FREQ_BIG=377000
CONFIG_MAX_FREQ_LITTLE=1950000
CONFIG_MIN_FREQ_LITTLE=182000
CONFIG_MAX_FREQ_PRIME=2808000
CONFIG_MIN_FREQ_PRIME=520000
CONFIG_IOSCHED_NOOP=y
# CONFIG_IOSCHED_DEADLINE is not set
# CONFIG_IOSCHED_MAPLE is not set
CONFIG_IOSCHED_CFQ=y
# CONFIG_IOSCHED_FIOPS is not set
# CONFIG_IOSCHED_SIO is not set
# CONFIG_IOSCHED_ZEN is not set
CONFIG_IOSCHED_ANXIETY=y
# CONFIG_DEFAULT_CFQ is not set
# CONFIG_DEFAULT_MAPLE is not set
CONFIG_DEFAULT_ANXIETY=y
# CONFIG_DEFAULT_NOOP is not set
CONFIG_DEFAULT_IOSCHED="anxiety"
# CONFIG_MQ_IOSCHED_DEADLINE is not set
# CONFIG_MQ_IOSCHED_KYBER is not set
# CONFIG_IOSCHED_BFQ is not set
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_EROFS_FS=y
CONFIG_EROFS_FS_ARMV8_ACCELERATED_LZ4=y
CONFIG_COMPAT_VDSO=y
# EROFS_FS_DEBUG is not set
# CONFIG_DEVFREQ_BOOST is not set
# CONFIG_DEVFREQ_INPUT_BOOST_DURATION_MS is not set
# CONFIG_DEVFREQ_WAKE_BOOST_DURATION_MS is not set
# CONFIG_DEVFREQ_EXYNOS_MIF_BOOST_FREQ is not set
# CONFIG_CPU_FREQ_GOV_SCHEDUTIL is not set
# CONFIG_FREQVAR_TUNE is not set
CONFIG_CPU_FREQ_GOV_NOBODY_SCHED=y