CONFIG_LOCALVERSION="-LPoS"
CONFIG_SYSVIPC=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_BATTERY_SAVER=y
CONFIG_POWERSUSPEND=y
CONFIG_DYNAMIC_FSYNC=y
CONFIG_LD_LLD=y
CONFIG_ANDROID_SAR_RAMDISK=y
CONFIG_ANDROID_BOOT_PARTITION="/dev/sda14"
CONFIG_INLINE_OPTIMIZATION=y
CONFIG_STATE_NOTIFIER=y
CONFIG_CPU_FREQ_GOV_COMMON=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_BLU_SCHEDUTIL is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_NOBODY_SCHED=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CPU_FREQ_GOV_USERSPACE=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_CPU_FREQ_GOV_BLU_SCHEDUTIL=y
# CONFIG_CPU_FREQ_GOV_SCHEDUTIL is not set
CONFIG_CPU_FREQ_GOV_NOBODY_SCHED=y
CONFIG_ARM_EXYNOS_ACME=y
CONFIG_ARM_MODCLOCK=y
CONFIG_MAX_FREQ_BIG=2400000
CONFIG_MIN_FREQ_BIG=377000
CONFIG_MAX_FREQ_LITTLE=1950000
CONFIG_MIN_FREQ_LITTLE=182000
CONFIG_MAX_FREQ_PRIME=2808000
CONFIG_MIN_FREQ_PRIME=520000
CONFIG_POWERSUSPEND=y
CONFIG_WIREGUARD=y
CONFIG_NET_UDP_TUNNEL=y
CONFIG_IOSCHED_MAPLE=y
CONFIG_IOSCHED_ZEN=y
CONFIG_IOSCHED_ANXIETY=y
# CONFIG_DEFAULT_CFQ is not set
# CONFIG_DEFAULT_MAPLE is not set
# CONFIG_DEFAULT_ZEN is not set
CONFIG_DEFAULT_ANXIETY=y
CONFIG_DEFAULT_IOSCHED="anxiety"
CONFIG_IOSCHED_BFQ=y
# CONFIG_UH is not set
# CONFIG_UH_LKMAUTH is not set
# CONFIG_UH_LKM_BLOCK is not set
# CONFIG_RKP_CFP is not set
# CONFIG_RKP_CFP_JOPP is not set
# CONFIG_FIVE is not set
# CONFIG_FIVE_DEFAULT_HASH_SHA1 is not set
# CONFIG_SECURITY_DEFEX is not set
CONFIG_EXPORTFS=y
CONFIG_OVERLAY_FS=y
CONFIG_INCREMENTAL_FS=y
CONFIG_NTFS_RW=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_TCP_CONG_HTCP=y
CONFIG_COMPAT_VDSO=y
CONFIG_KSU=n
CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE=n
CONFIG_EROFS_FS=y
CONFIG_EROFS_FS_XATTR=y
CONFIG_EROFS_FS_POSIX_ACL=y
CONFIG_EROFS_FS_SECURITY=y
CONFIG_EROFS_FS_ZIP=y
CONFIG_EROFS_FS_CLUSTER_PAGE_LIMIT=1